Django>=4.2
gunicorn
PyMuPDF==1.26.3          # for reading PDFs
numpy
pandas
scikit-learn
joblib
sqlparse                 # required by Django
asgiref
packaging
whitenoise               # for static file handling on Render
lightgbm
